@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.controls {
  width: 650px;
  font-family: 'Indie Flower';
  font-size: 22px;
}

.wave-form-container {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.volume-pan-container {
  display: inline-block;
  width: 150px;
  text-align: right;
}

.wave-form {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
}

.wave-form .img {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

.sine .img {
  background-image: url(../img/sine.png);
}

.square .img {
  background-image: url(../img/square.png);
}

.sawtooth .img {
  background-image: url(../img/sawtooth.png);
}

.number {
  width: 45px;
}