@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.controls {
  width: 490px;
  font-family: 'Indie Flower';
  font-size: 22px;
}

.col2-container {
  display: inline-block;
  margin-top: 10px;
  width: 300px;
  vertical-align: top;
}

.col1-container {
  display: inline-block;
  margin-top: 10px;
  width: 160px;
  text-align: right;
}

.wave-form {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
}

.wave-form .img {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

.sine .img {
  background-image: url(../img/sine.png);
}

.square .img {
  background-image: url(../img/square.png);
}

.sawtooth .img {
  background-image: url(../img/sawtooth.png);
}

[type="number"] {
  width: 45px;
}

h1, h2, h3 {
  margin: 0;
}