.key {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 40px;
  height: 120px;
  margin: 0 -1px;
  background: url(../img/key.png);
  user-drag: none; 
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.key-black {
  z-index: 10;
  height: 72px;
  margin: 0 -20px 0 -20px;
  background: url(../img/key-black.png);
}

.pressed {
  top: 4px;
}