.key {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 120px;
  margin: 0 2px;
  border: 1px solid #000;
}

.key-black {
  height: 70px;
  margin: 0 -16px 0 -16px;
  background-color: black;
}